{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}

<div class="completed-orders">
    <h2>Your Completed Orders</h2>
    {% for order in completed_orders %}
    <div class="order">
        <h3>Order #{{ order.id }}</h3>
        <!-- Display other order details... -->
    </div>
    {% empty %}
    <p>You have no completed orders.</p>
    {% endfor %}
</div>

    <div class="dashboard-user-info">
        <h2>Your Info</h2>
        <!-- user info and password change form... -->
    </div>

    <div class="dashboard-nasa-info">
        <h2>NASA Mars Info</h2>
        <div id="planetary-data">
            
    </div>
</div>






{% endblock %}