{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Cosmic Commerce</title>
    <!-- Set viewport for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

    <!-- Particles.js -->
    <div id="particles-js"></div>
    <!-- Content of the page -->
    <div class="loader-wrapper">
        <div id="p5-canvas"></div>
        <div class="loader"></div>
    </div>
    <div id="content" style="display: none;">

    <header class="site-header"></header>

    <section class="site-nav">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">_HOME</a></li>
                <li><a href="{% url 'register' %}">_REGISTER</a></li>
                <li><a href="{% url 'products' %}">_PRODUCTS</a></li>
                <li><a href="{% url 'reviews' %}">_REVIEWS</a></li>
                <li><a href="{% url 'basket' %}">_BASKET</a></li>
                <li><a href="{% url 'checkout' %}">_CHECKOUT</a></li>
                <li><a href="{% url 'dashboard' %}">_DASHBOARD</a></li>

            </ul>
        </nav>
    </section>
    
    <div class="basket-info">
        {% if basket %}
            <p>User: {{ request.user.username }}</p>
            <p>Items in basket: {{ basket.basketitem_set.count }}</p>
            <p>Total price: {{ basket.total_cost }}</p>
        {% else %}
            <p>No items in basket</p>
        {% endif %}
    </div>
    {% block content %}


    {% endblock %}

 
    {% block footer %}
    <footer class="site-footer">
        <div class="footer-container">
            <footer class="footer-links">
                <a href="https://github.com" target="_blank"><i class="bi bi-github"></i> GitHub</a>
                <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i> Twitter</a>
                <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i> Facebook</a>
                <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i> Instagram</a>
            </footer>
            <div class="middle-list">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="{% url 'index' %}">_HOME</a></li>
                    <li><a href="{% url 'register' %}">_REGISTER</a></li>
                    <li><a href="{% url 'products' %}">_PRODUCTS</a></li>
                    <li><a href="{% url 'reviews' %}">_REVIEWS</a></li>
                    <li><a href="{% url 'basket' %}">_BASKET</a></li>
                    <li><a href="{% url 'checkout' %}">_CHECKOUT</a></li>
                    <li><a href="{% url 'dashboard' %}">_DASHBOARD</a></li>
                </ul>
            </div>
            <div class="right-content">
                <p>Cosmic-Commerce e-commerce platform is designed to provide a seamless shopping experience, with a 
                    futuristic aesthetic built using the principles of design focusing heavily on user interaction,\
                    authentication and usability. Please browse, sign-up, log-in and test this project to it's fullest
                    extent. This project is a work of progression and will be updated regularly with new features.
                 </p>
                 <p>&copy; 2024 Titles, Content, Featured Content and Future Content Copyright Joe Miller</p>
            </div>
        </div>
        
    </footer>
    {% endblock footer %}
<!-- ... -->

<!-- Include JavaScript file -->
<script src="https://js.stripe.com/v3/"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<!--Particles.js-->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 

<script>
    var particlesJsonUrl = "{% static 'catalog/js/particles.json' %}";
</script>

<script src="{% static 'catalog/js/script.js' %}"></script>

</body>
</html>