{% extends 'catalog/base.html' %}

{% block content %}

<div class="edit-review-form">
    <h2>{{ review.product.title }}</h2>
    <p>Rating: {{ review.rating }}</p>
    <p>Reviewed by: {{ review.user.username }}</p>
    {% if user.is_authenticated and user == review.user %}
        <form method="post">
            {% csrf_token %}
            <label for="rating">Rating:</label>
            <input id="rating" type="number" name="rating" value="{{ review.rating }}" required>
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" required>{{ review.comment }}</textarea>
            <button type="submit">Update</button>
        </form>
        <a href="{% url 'delete_review' review.id %}">Delete</a>
    {% else %}
        <p>Comment: {{ review.comment }}</p>
    {% endif %}
</div>

{% endblock %}