{% extends 'catalog/base.html' %}



{% block content %}


<div class="register-about">
    <h2>Welcome to our side of the digital solar space!</h2>
    <p>COSMOS X is a conceptual E-Commerce platform for futuristic space trade.
        To explore the site to it's full extent simply complete the registration form below and browse 
        our both theoretical and ficticious throw back products.</p>
</div>






<div class="user-registration">
<h2>Register</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>
</div>
{% endblock %}